:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --bg-color: rgb(203, 214, 214);
    --box-shadow-color: rgba(170, 179, 179, 0.5);
    --title-color: rgb(54, 54, 54);
    --submit-color: rgb(35, 143, 82);
}

body {
    background-color: var(--bg-color);
    min-width: 480px;
    margin: 0;
}

header {
    background-color: darkgreen;
    position: absolute;
    align-content: center;
    font-size: 1.5rem;
    width: 100%;
    height: 10vh;
    top: 0;
    margin: 0;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

header li,
header li a {
    display: inline;
    color: white;
    text-decoration: none;
    font-weight: 800;
    padding: 1rem;
}

a:hover,
a:focus {
    text-decoration: underline;
}

main {
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px var(--box-shadow-color);
    background-color: white;
    padding: 1rem;
    margin: 12vh auto 0 auto;
}

h1 {
    margin: 0 0 2rem 0;
    text-align: center;
    color: var(--title-color);
}

form>div {
    margin-bottom: 2rem;
}

#personal-info {
    display: grid;
    gap: 2rem 2rem;


    @media only screen and (min-width: 520px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: 730px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

#meeting {
    display: grid;
    gap: 2rem 2rem;

    @media only screen and (min-width: 520px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

#mailing-list-section label,
#email-format-section h2,
#email-format-section label {
    display: flex;
    align-items: center;
    padding: 0;
}

#mailing-list-section {
    margin-bottom: 0.5rem;
}

#email-format-section {
    display: flex;
    flex-flow: row;
}

.input-section {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.1rem;
    font-weight: bold;
}

.input-section input,
.input-section select {
    box-sizing: content-box;
    border-radius: 2px;
    border-color: lightgrey;
    border-width: 1px;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.25rem;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
}

input[type="checkbox"] {
    margin-left: 0;
}

input[type="submit"] {
    background-color: var(--submit-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

input[type="submit"]:hover {
    transition: background-color 0.25s ease-out;
    background-color: hsl(from var(--submit-color) h s 25%);
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: var(--submit-color);
    transition: background-color 0.1s ease-out;
}

textarea {
    font-family: inherit;
    padding: 1rem;
    resize: vertical;
}

label,
h2 {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    align-items: center;
    margin: 0;
}

.err {
    color: darkred;
    font-weight: lighter;
    font-size: 0.75rem;
    display: none;
}

#THE-GITHUB-LINK {
    color: black;
    font-size: 1.5rem;
}

@media only screen and (max-width:790px) {
    header {
        font-size: 1rem;
    }

    header li,
    header li a {
        padding: 0.5rem;
    }
}